---
import { languages } from "@i18n/ui";
const { lang } = Astro.props as { lang: "es" | "en" };
---

<div class="relative">
  <select
    onchange="changeLanguage(event)"
    class="p-2 bg-transparent appearance-none pr-5 text-xl"
    aria-label="Selector de idioma"
  >
    {
      Object.entries(languages).map(([Itemlang, label]) => {
        if (Itemlang == lang)
          return (
            <option selected value={Itemlang}>
              {label}
            </option>
          );
        return <option value={Itemlang}>{label}</option>;
      })
    }
  </select>
  <div
    class="pointer-events-none absolute inset-y-0 right-8 flex items-center pr-1"
  >
    <svg
      class="fill-current h-4 w-4"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"><path d="M7 10l5 5 5-5H7z"></path></svg
    >
  </div>
</div>

<script is:inline>
  function changeLanguage(event) {
    const selectedLanguage = event.target.value;
    const [lang, ...slugArr] = window.location.pathname
      .split("/")
      .filter((item) => item !== "");

    if (selectedLanguage !== lang) {
      window.location.href = `/${selectedLanguage}/${slugArr.join("/")}`;
    }
  }
</script>
